/*Intro:*/

/****Cascading means that if we have two selectors that select the same element(like below), the one that is written later will be applied.
li{color: red; color:blue;} ****/
/****Also if we have to styling files that have two different links in our html file, the one that is written later(the 2nd link) will be applied.****/

/*There are three ways to add css to html:*/
/*1- inline: by adding style attribute to the element. for example: <h1 style="color: red;">Hello World</h1>*//****Not Recommended****/
/*2- internal: by adding style tag to the head of the html file. for example: <style>h1{color: red;}</style>*/
/*3- external: by adding a link tag to the head of the html file. for example: <link rel="stylesheet" href="style.css">*/

/*******************Caution*******************/

/*colspan only works for <td> and <th> tags and should be written in html as an inline css code for that specific box.*/

/*******************Main Frame*******************/

Selector{property: value;}
/*Selector is the element you want to style, property is the style you want to change, and value is the value you want to set it to.*/
/*the thing is, when we select an element like h1 or p, we are selecting all of them. So if we want to select only one of them, we need to give it a class .*/
/*To give an element a class, we use the class attribute.*/
/*<h1 class="classname">Hello World</h1>*/
/*Now, we can select it using .classname*/

/********Four different categories to style an element********/

/*1- color: we can change the color of the text, background, border, ...*/
/*2- text: we can change the font, size, style, ...*/
/*3- box model: we can change the size, border, margin, padding, ...*/
/*4- position: we can change the position of the element, ...*/

/****************different Color properties****************/ 

p{
    color:aliceblue;
    background-color: aqua;
    border-color: aquamarine;
    color-scheme: auto;
    /*****we can define colors by name, RGB(Red0-255, Green0-255, Blue0-255) and Hexadecimal numbers.*/
    /****Hexadecimal system has 16 choices: 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F--A is number 10 and F 15*/
    /*The system for colors works like this: from #000000 to #ffffff -- The two first are Red chanel, 2nd ones are Green and last two are blue chanel */
    /* ff is 15*15 which is 255*/
    /*color-scheme is used to change the color of the text based on the color of the background.*/
    /***We can use this link to find the pallet of colors that we want: https://colorhunt.co/and this one as mixer:https://www.csfieldguide.org.nz/en/interactives/rgb-mixer/***/
}

/*********************different Sizes*********************/

/*1PX = 1/96th inch = 0.26mm x 0.26mm(**It's not recommended for responsive websites**)
1 PT = 1/72nd inch = 0.35 mm
1 em = 100% of parent- It's full width of letter 'm'
It means, if e.x. we set h1 to 1em and let's say it's a child of body, and body's font-size is 20px then h1 will be 100% like body, and if we set it to 2em the font size will be 40px.
So first we have to set a size for body then adjust different font sizes for different elements, based on that size by using em.
1 rem = 100% of root (html tag)
If we want to use relative font size, it's better to use rem instead of em. Because soon everything is going to be messy due to that parenting issue*/

/**************different text&font properties**************/

p{
    font-size: 10px;
    /*font-size: 10pt;
    font-size: 1em;
    font-size: 10%;
    font-size: 1rem;
    font-size:xx-large;*/
    font-family: 'Courier New', Courier, monospace;
    /* First one is the font we want to use, second one is the font we want to use if the first one is not available, and the third one is the font we want to use if the second one is not available.*/
    /***We can use google font website to find fonts, and make a font family that we want. then we can copy the link and paste it in the head of our html file, and copy the font-family and paste it in our css file.***/
    font-style: italic;
    font-weight: bold;
    /*1- normal or bold. 2- 100,200,300,400,500,600,700,800,900. 3- lighter or bolder.(-100 or +100) 4- initial or inherit.*/
    text-align: center;
    text-decoration: underline beige wavy;
    /*1- none, underline, overline, line-through, initial, inherit. 2- color- 3-style.*/
    /* we can use text-decoration to change the style of a link.*/
    /* for example we can use text-decoration: none; to remove the underline of a link by using that style for an anchor tag.*/
    text-transform: capitalize;
    /*1- none, capitalize, uppercase, lowercase, initial, inherit.*/
    /*We use this property to change the text to lowercase or uppercase or capitalize.*/
    /*we can also use text-transform to change the text to be in a different language.*/

    line-height:1.5;
    /*is used to change the space between lines. we can use it in different kind of numbering.*/
    letter-spacing: 1px;
    /*is used to change the space between letters.*/
}

/****************Very Important****************/

/*we can use chrome developer tools to see the styles of  elements and every detail about a website.*/
/*we can also use chrome developer tools to change the styles of elements and see how it looks.*/
/*It also can be used to debug our code.*/
/*we can also use chrome developer tools to see the html code, css and javascript of a website.*/
/*we can also use it to see details of a website, like the size of an image or a color or font or even borders and margins, that we like. ***go to ... then more tools and css overview*** */
/*by using debug extension, our webpage will be shown in box style, and we can see the details of our code. by holding ctrl and hoovering around different devisions, we can see a breif description of that part at the bottom of the page.*/

/*********************Important********************/

/*******If we want to copy the exact path of an element or selector, we have to go through google inspector and find the place that element or selector is located, then right click and find the 'copy selector' or 'copy element' option.********/

/****************different Selectors****************/

element{property: value;}

*{property: value;}
/*we can also select all elements at once using*/

.classname{property:value;}
/*In html we can add class names as many as we want to an element by using space between class names.*/
/*By using class , we can group different elements together and style them all at once.*/
/*for example, if we name a class in html 'text-red', and add that class to all elements that we want to consider to be red,by adding .text-red{color: red;} to css, we can change the color of all of them at once to red.*/

#idname{property: value;}
/*id is similar to class, but it is used to select only one element. It is used when we want to style only one element, and not a group of elements.*/
/*for example, if we name an id in html 'text-red', id="text-red", and add that id to an element that we want to consider to be red,by adding #text-red{color: red;} to css, we can change the color of only that element to red.*/

[attribute]{property: value;}
/*we can also select elements based on their attributes.*/
/*for example, if we want to select all elements that have the attribute 'href', we can use [href]*/
element[attribute]{property: value;}
/*we can also select elements based on their attributes and their element.*/
element[attribute="value"]{property: value;}
/*we can also select elements based on their attributes and their element.*/

/************Different Selector combinations************/

selector,selector{property: value;}
/*we can also select multiple elements at once by separating them with a comma.*/
parent-slector>child-selector{property: value;}
/*The child should be just one level down from the parent. for example, if we have a <div> and inside that, we have a <p>, we can select that <p> using div>p*/
ansector-selector descendant-selector{property: value;}
/*First selector is the ancestor and the 2nd one is descendant. As long as there is a descendant anywhere in any layer under the ansector selector, the code will be excuted*/
selectorselector{property: value;}
/*Chaning: by writing different selectors together without any spaces to make it more unique.
h1#classid.claasname.classname*/
selector selectorselector{property: value;}
/*Combining combinares:*/

/******************Pseudo Classes******************/

/*Pseudo classes: Keyword added to a selector that specifies a special state of the selected element.*/
a:hover{color: red;} /*for example, if we want to select all links that are hovered*/
/* Hover means that the mouse is over the element. for example: when we hover over a button and the color changes.*/
/* We can use Hover for all elements, not just links.*/
/* we can give a link none decoration, then with hover we can add underline decoration. thus, when we hover over the link, it will be underlined.*/
a:active{color: red;} /*for example, if we want to select all links that are active or buttons*/
/* Active means that the mouse is clicked on the element. for example: when we click on a button and the color changes.*/
button:checked{color: red;} /*for example, if we want to select all buttons that are checked*/
/* Checked means that the element is checked. for example: when we check a checkbox and the color changes.*/
.post:nth-last-of-type(2/*or 2n*/){color: red;} /*for example, if we want to select all posts that are the 2nd last post*/
/* nth-last-of-type is used to select the nth element from the end of the parent element.*/
/* we can use nth-last-of-type to select the last element, the 2nd last element, the 3rd last element, ...*/
/* we can use 2 or 2n and the difference is that 2n will select all even elements and 2 will select only the 2nd element.*/
.post:nth-child(3rd){color: red;} /*for example, if we want to select all posts that are the 3rd post*/
/* nth-child is used to select the nth element from the beginning of the parent element.*/
/* we can use nth-child to select the first element, the 2nd element, the 3rd element, ...*/

/****we can use odd and even to select all odd or even elements.****/

p:not(.classname){color: red;} /*for example, if we want to select all p elements that don't have a class name*/
/* not is used to select all elements that don't have a class name.*/
/* we can use not to select all elements that don't have a class name, or don't have an id, or don't have an attribute, ...*/

/******************Pseudo Elements******************/

h2::first-letter{font-size: 40px;}
/*first-letter is used to select the first letter of an element(s).*/
p::first-line{color:cyan}
/*first-line is used to select the first line of an element(s).*/
h2::before{content: "Hello";}
/*before is used to add content before an element(s).*/
h2::after{content: "Hello";}
/*after is used to add content after an element(s).*/
::selection{background-color: red;}
/*selection is used to select the text that we select.*/
/*we can use selection to change the color of the text that we select.*/

/************determining the overal level************/

/**The order is from the most importance to the least impotance**/
/*Always Imagin the form and flow of a cascade.*/

/*1-Importance: we can use "!important" to make a rule more important than others.*/
li{color: red !important;}/****Not Recommended****/

/*2-Type: External, internal, inline. the  most important one is inline, then internal, then external.*/

/*3-Specifity: It is the number of selectors that we have used to select an element. like below, the outcome is the (Yellow) one because it's the most important and unique one*/
/*1(The most Important)*/#first-id{color: yellow;}
/*2*/li[draggable]{color: green;}
/*3*/button:hover{color: green;}
/*4*/.class-first{color: blue;}
/*5*/p::first-letter{color: red;}
/*6*/li{color: red;}

/*4-Position: like below, the outcome is the last one(green)*/ 
li{color: red; color:blue;}
li{color: green;}

/*****************Calculation Model*****************/
/*Id Selectors*/
/*Attribute, Classe & Pseudo Class selectors*/
/*Pseudo elements & elements*/
#name{color: red;}/*we get 1 for id selector and two 0 for the others. So the score is 100*/
section p{color: red;}/*we get 0 for id selector, 0 for the 2nd one and 2 for the third one. so the score is 002*/
/***********************************************/

/*********************Inheritance**********************/

/* Inheritance means that if we set a style for an element, all its children will inherit that style.*/
/* for example, if we set a color for body, all elements inside body will inherit that color.*/
/* Then if we set a color for all divs inside body, all divs inside body will inherit that color.*/
/*for input elements we can use inherit to inherit the style of the parent element.*/
/*some properties like border, margin, padding, ... can't be inherited.*/
section{color: red;}
section input{color: inherit;}/*we can use inherit to inherit the style of the parent element.*/

/******************************Box Model*******************************/

/* Every element in html is a box.*/
/* Box model is used to change the size of the content area, the padding, the border, the margin.*/
/* Box model has 4 parts: content, padding, border, margin.*/
/*for all 4 box model parts, we can use px, %, em, rem, ...*/
/*for all 4 box model parts, we can use top, right, bottom, left to change the size of each part.*/
/*for all 4 box model parts, we can set all four sides values inside one property.*/
/*the total width of an element is the width of the content area + padding + border + margin.*/

/*****Box Model:Width&Height for content area******/

h1{
    width: 100px;
    height: 100px;
}
/* width and height are used to change the size of the content area.*/

div{
    height: 20px;/*the order is all together.*/
    height: 10px 20px;/*the order is top and bottom, right and left.*/
    height: 20px 10px 30px;/*the order is top, right and left, bottom.*/
    height: 0px 10px 20px 30px; /*the order is top, right, bottom, left.*/
}

/******Box Model:Border********/

table{
    border-width: 10px; /*Border width is used to change the size of the border.*/
    border-color: red; /*Border color is used to change the color of the border.*/
    border-style: solid; /*Border style is used to change the style of the border. we can use solid, dotted, dashed, double, groove, ridge, inset, outset, none, hidden.*/
    border-radius: 5px; /*Border radius is used to change the roundness of the border. we can use px, %, em, rem, ...*/
    /* We can use border radius to make many different shapes like circle, oval, ...*/

    border-color: aliceblue rebeccapurple; /*we can use multiple border colors. the order is top, right, bottom, left.*/ 
    border-style: solid dotted dashed double; /*we can use multiple border styles. the order is top, right, bottom, left.*/
    border: 10px solid red; /*we can use border to change the size, color and style of the border simultaneously.*/
    border-left-color: aliceblue;
    /* For each of boder-width, border-color and border-style, we can use top, right, bottom, left to change the size, color and style of each side of the border.*/
    /* Or like above we can use just border-color, and then specifiy a color for each side of the border.*/
    
    box-sizing: border-box; /*is used to change the size of the box model. by default, the size of the box model is the size of the content area. but by using border-box, the size of the box model will be the size of the content area + padding + border.*/
    /*It means that if we set the width of the content area to 100px, and the padding to 10px, and the border to 10px, the padding and border sizes will be some how subtracted from the content area size, so the total size of the box model will be 100px.*/
}
p{
    border: 10px solid red;
    border-left-style: dotted;
    /* We can write a shorthand  for border, and then change the style of each side of the border that we want.*/
}

/*********Make a Circle*********/

.red-cirle{
    background-color: #ff0000;
    width:200px;
    height:200px;
    border-radius: 50%;
}
/* we can make a border, then change the border radius to 50% to make a circle around an image.*/

/*********Image*********/

img{
    width:50%;
    margin-left: 25%;
    /*Hint: Horizontally center a div by giving it a width of 50% and a margin-left of 25%.*/
}

/******Box Model:Padding********/

/*Padding area is the area between the content area and the border.*/
button{
    padding: 10px;/*the order is all together.*/
    padding: 10px 20px;/*the order is top and bottom, right and left.*/
    padding: 10px 20px 30px;/*the order is top, right and left, bottom.*/
    padding: 10px 20px 30px 40px; /*the order is top, right, bottom, left.*/
    /* We can use px, %, em, rem, ...*/
    /* We can also use: */
    padding-top: 10px;
    padding-right: 20px;
}

/******Box Model:Margin********/

/*Margin area is the area outside the border between the border and the next element.*/
/*Margin is used to push away elements from each other.*/
button{
    margin: 10px;/*the order is all together.*/
    margin: 10px 20px;/*the order is top and bottom, right and left.*/
    margin: 10px 20px 30px;/*the order is top, right and left, bottom.*/
    margin: 10px 20px 30px 40px; /*the order is top, right, bottom, left.*/
    /* We can use px, %, em, rem, ...*/
    /* We can also use: */
    margin-top: 10px;
    margin-right: 20px;
}

/*******Margin-Important********/

/*When we run our web page in a browser, the browser adds a default margin to the body.*/
/*So if we want to remove that margin, we have to set the margin of the body to 0px.*/
body{
    margin: 0px;
}

/**********Hint-emojies**********/

/*We can use emojies in our web page by using their unicode. for example:*/
/*U+1F600 is the unicode for the emoji 😁*/
/*To use it we have to use content property for the element that we want and set it to the unicode of the emoji like below:*/
h1::after{content: "\1F600";}
/*we have to use pseudo elements to use emojies.*/
/* we can use the webfx website to find the unicode of the emoji that we want.*/

/**********Setting Layouts//Display Properties**********/

/*By using display properties, we can change the way elements are displayed and change the default.*/
element{display: block;}
/*1-block elements take up the full width and whole block space available.
2-we can set their width, height, padding and margin.
3-some elements that are block by default: div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, table, form, ...*/

element{display: inline;}
/*1-inline elements take up only the space that they need, they fit alongside other elements.
2-we can't set the width and height.
3-Margin&Padding push away elements horizontally but not vertically.
4-some elements that are inline by default: span, a, img, input, button, ...*/

element{display: inline-block;}
/*1-inline-block elements take up only the space that they need.
2-we can set their width, height, padding and margin.
3-they behaive like an inline element.*/

element{display: none;}
/*none elements are not visible and they don't take up any space.*/

/**********Setting Layouts//Float Properties**********/

element{float: left;}
/* It's used to move an element to the left or right of its container, and make other elements to wrap around it.*/
/*It's used to make a text to wrap around an image.*/
element{clear: both;}
/*It's used to make an element to not wrap around a floated element like a footer.*/

/*****************************CSS Units*****************************/

/*We can use different units to set the size of elements.*/
/*Absolute units: px, pt, cm, mm, in*/
/*Relative units: %, em, rem, vw, vh, vmin, vmax*/
/*We can use relative units to make our website responsive.*/

/*The most important an common one in absolute units is px.*/

/*******PX and %*******/

section{
    width: 100px;
    height: 100px;
}
div{
    width: 50%;
    height: 50%;
}
/* % is used to set the size of an element relative to its parent element.*/
/* In the above example, the width and height of the div will be 50% of the width and height of the section which is the div's parent.*/
h1{
    font-size: 40px;
    line-height: 50%;
}
/* In some situations like above, for properties like line-height, the 50% will be relative to the font-size of the element not the parent element.*/

/**********ems**********/

h2{
    font-size: 1.5em;
}
/* em is used to set the size of an element relative to its parent element.*/
/* In the above example, the font-size of the h2 will be 1.5em of the font-size of the parent element which is the secton.*/

button{
    font-size: 1em;
    padding: 0 1em;
    margin: 0.5em;
    border-radius: 0.5em;
}
/* for any other properties like padding, margin, border-radius, ... the em will be relative to the font-size of the element itself.*/
/* By doing this, we can make our website responsive and change everything relative to the font-size of the element itself, which is also relative to the font-size of the parent element.*/

/*** One big issue with em is that it's relative to the font-size of the parent element. So if we have a div inside a div, and another div inside that one, and we set the font-size of the parent div to 20px, and the font-size of the child div(the 2nd one) to 2em, the font-size of the decendent div will be 80px and it will go on because they are all relatives.***/

/**********rems**********/

h2{
    font-size: 1.5rem;
    padding: 0.5em;
}
/*rem is used to set the size of an element relative to the root element which is the html element.*/
/*In the above example, the font-size of the h2 will be 1.5rem of the font-size of the root element which is the html element.*/
/*rem is the best unit to use for responsive websites.*/
/*by setting the font size to 1.5rem it will change by changing the font-size of the root element, and padding will change by changing the font-size of the element itself.*/
/* by using rem we can make our website responsive and change everything relative to the font-size of the root element which is the html element and we solve the problem of em.*/

/*******************************The Alpha channel & Opacity*******************************/

/*The Alpha channel is used to change the transparency of an element.*/
/* We only can use it for background-color, border-color, color, and the value is between 0 and 1.*/
/* 0 means that the element is completely transparent and 1 means that the element is completely opaque.*/
/* We can use it to make a background image transparent.*/
section{
    background-color: rgba(0,0,0,0.5);
}
/* To change it to hexadecimal, we have to use # instead of rgba and then we have to use 8 digits ---> #00000000 to #ffffffff*/
/* The last two digits are for the alpha channel and 00 means that the element is completely transparent and ff means that the element is completely opaque.*/

div{
    opacity: 0.5;
}
/* opacity is used to change the transparency of an element.*/
/*The difference between opacity and the Alpha channel is that we can use opacity for all elements, it means that if we have different elements inside a div, we can use opacity to change the transparency of all of them.*/
/* We can use it for all elements and the value is between 0 and 1.*/
/* 0 means that the element is completely transparent and 1 means that the element is completely opaque.*/

/*******************************Position properties**************************/

div{position: static;} 
/*is the default position of an element.*/

section{position: relative;
    top: ;
    right: ;
    bottom: ;
    left: ;
} 
/*is used to change the position of an element relative to its original position by adding numbers, oriented twards the new position.*/
/*we can use top, right, bottom, left to change the position of an element relative to its original position.*/

div{position: absolute;
    top: ;
    right: ;
    bottom: ;
    left: ;
}
/*It  is used to change the position of an element, based on the value that we set, relative to its parent element, if the parent is positioned. If not, it will be set relative to top left corner of the web page.*/
/*position for the parent element should be relative, fixed or sticky.*/
/*we can use top, right, bottom, left to change the position of an element relative to its parent element.*/
/******In order to change the child position relative to the parent, we have to set a relative position for the parent.*****/

section{position: fixed;
    top: ;
    right: ;
    bottom: ;
    left: ;}
 /*is used to change the position of an element relative to the browser window, and the element will always stay on top.*/
div{position: sticky;
    top: ;
    right: ;
    bottom: ;
    left: ;}
/*is used to change the position of an element relative to its parent element until, by scrolling, it reaches a specific point, and hit the top, then it will be fixed.*/
/*position for the parent element should be relative, fixed or sticky.*/
/*we can use top, right, bottom, left to change the position of an element relative to its parent element.*/

/*******************************Transition Property**************************/

/*Transition property is used to change the style of an element when a specific event happens.*/
/*We can use it to change the style of an element when we hover over it, or when we click on it, ...*/
.circle{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    transition-property: width, height, background-color, border-radius;
    /* transition-property is used to change the style of an element when a specific event happens.*/
    transition-duration: 1s;
    /* transition-duration is used to set the duration of the transition.*/
    transition-timing-function: ease-in-out;
    /* transition-timing-function is used to set the timing function of the transition.*/
    transition-delay: 1s;
    /* transition-delay is used to set the delay of the transition.*/
}
/*we can also write it like this:*/
.circle{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    transition: width 1s ease-in-out 1s, height 1s ease-in-out 1s, background-color 1s ease-in-out 1s, border-radius 1s ease-in-out 1s;
}
.circle:hover{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 0%;
}
/*According to the above example, when we hover over the circle, the width and height will change to 200px, the background-color will change to blue, and the border-radius will change to 0% in 1s, and the transition will start after 1s.*/

section{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: margin 2s;
}
/*we can use margin also as a transition property.*/
section:hover{
    margin-left: 200px;
}

div:nth-of-type(1){
    transition-timing-function: ease-in;
}
/*nth-of-type is used to select the nth element of a specific type.*/
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
	transition-timing-function:  cubic-bezier(0.83, 0, 0.17, 1);
}
/*cube-bezier is used to change the timing function of the transition by using 4 numbers between 0 and 1.*/
/*We can find the numbers by using thehttps://easings.net/ website or https://cubic-bezier.com/ website.*/




/**********************Responsive Website***********************/

/*We can use these four methods to make a responsive website:
1- Media Queries
2- Css grid
3- Css Flexbox
4- External Frameworks like: Bootstrap*/

/*****************Sth*****************/